@model NMS.Models.NGroupMemberTeacher1

@{
    ViewBag.Title = "Details";
    Layout = "_TPLayout";
}

<h2>Details</h2>

<div>
    <h4>NGroupMemberTeacher1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGroup.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGroup.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
