@model NMS.Models.Teacher_Teaches_subject

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Teacher_Teaches_subject</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TSRating)

        @Html.HiddenFor(model => model.TID)

        @Html.HiddenFor(model => model.SubID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    @Html.ActionLink("Back to AdminPortal ", "index", "AdminPortal")

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
